@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-secondary;
        @apply text-primary;
        @apply font-primary;
        font-weight: 400;
    }

    :target {
        scroll-margin-top: 4rem;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid #8D99AE;
        -webkit-text-fill-color: #2B2D42;
        -webkit-box-shadow: 0 0 0px 1000px #8D99AE inset;
        box-shadow: 0 0 0px 1000px #8D99AE inset;
        transition: background-color 5000s ease-in-out 0s;
        color: #2B2D42;
    }
}

@layer components {
    .text-stroke {
        color: theme('colors.primary');
        -webkit-text-stroke: 1px white;
    }
}